body {
    font-family: 'Arial', sans-serif;
    background-color: #3188CF;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-text {
    font-size: 17px;
    color: #3188CF;
    padding: 14px 16px;
}

.navbar a {
    color: #3188CF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: #3188CF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.logo-text {
    font-size: 36px;
    font-weight: bold;
    color: #3188CF;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #3188CF;
}

h3 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #3188CF;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.login-options a {
    color: #3188CF;
    text-decoration: none;
}

.login-options a:hover {
    text-decoration: underline;
}

button {
    padding: 10px 20px;
    background-color: #3188CF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #276da8;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: #3188CF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

