body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #194569;
    color: #ffffff;
}

nav {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    margin-left: 20px;
}

nav .logo a {
    color: #194569;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul.right-nav {
    margin-right: 20px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #194569;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #45a049;
    border-radius: 4px;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    color: #194569;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #CADEED;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
